@charset "UTF-8";
/* CSS RESET y BACKGROUND GENERAL */
* {
  margin: 0;
  padding: 0; }

/* FUENTES, ESTILOS, TAMAÑO Y COLORES */
@font-face {
  font-family: "Harabara";
  font-style: normal;
  font-weight: 700;
  src: local("Harabara"), url("https://fonts.cdnfonts.com/s/8571/Harabara.woff") format("woff"); }

@font-face {
  font-family: 'Graphik';
  src: local("Graphik Light"), local("Graphik-Light"), url("Graphik-Light.woff2") format("woff2"), url("Graphik-Light.woff") format("woff"), url("Graphik-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

#logo {
  font-family: "Harabara", sans-serif;
  font-size: 18px !important;
  letter-spacing: 1px; }

header,
h1 {
  font-family: "Manrope", sans-serif;
  font-weight: bold; }

h2,
h3,
h5,
p,
ul,
ol,
tr,
th,
td,
form {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-weight: 375;
  line-height: 1.2; }

.contenedorPrincipal h1, h2 {
  font-family: 'Graphik'; }

.contenedorCentral h1, h2 {
  font-family: 'Graphik'; }

.mainHome__tituMain {
  font-size: 2.5rem; }

.titulares {
  color: orangered;
  margin: 10px 10px; }

.whiteText,
h5 {
  color: white; }

.centerText {
  text-align: center;
  font-size: 2.2rem;
  margin-top: 3rem;
  padding: 2rem 2rem 2rem 2rem; }

.tablasColor1 {
  background-color: turquoise;
  color: #1100ff;
  margin: 10px;
  list-style-position: inside;
  list-style-type: upper-latin; }

/* BACKGROUNDS */
body {
  background-color: #0f1108; }

.backgroundHome {
  background-image: url(../img/backgroundHome.png); }

main {
  width: 100%; }

.retrato {
  margin: 10px 10px 10px 10px;
  position: relative;
  left: 1200px;
  bottom: 100px; }

/* HEADER Y CONTENEDORES */
.header {
  background-color: #0f1108;
  padding: 0.5rem 0; }
  .header a {
    color: white;
    text-decoration: none; }
  .header ul li a:hover {
    color: tomato !important;
    opacity: 1 !important; }

.contenedor {
  width: 95%;
  max-width: 1700px;
  margin: 0 auto; }

.navegacion ul {
  margin: 0%;
  padding: 0%;
  list-style: none; }
  .navegacion ul li {
    display: inline-block;
    opacity: 0.7;
    margin-left: 1rem; }
  .navegacion ul ul li a {
    display: block;
    padding: 0 0.5rem;
    color: white;
    text-decoration: none;
    opacity: 0.4; }
  .navegacion ul img {
    width: 22px;
    color: white;
    opacity: 0.7; }
  .navegacion ul ul li:hover {
    opacity: 1; }
  .navegacion ul a {
    text-decoration: none; }

.footer {
  padding: 1.3rem 0;
  background-color: #191919; }

.has-text-right {
  text-align: right !important; }

/* FORMULARIOS */
form {
  width: 500px;
  background-color: white;
  border-radius: 6px; }

.contenedorForm {
  display: flex;
  justify-content: center;
  margin-bottom: 40px; }

.formulario {
  width: 100%;
  margin-top: 1rem;
  border-radius: 6px;
  padding: 1.25rem;
  display: flex;
  justify-content: center; }
  .formulario label {
    text-decoration: bold;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5; }
  .formulario input {
    border: 1px black solid transparent;
    display: block;
    min-width: 100%;
    max-width: 100%; }
  .formulario textarea {
    min-width: 100%;
    max-width: 100%; }
  .formulario label {
    margin-top: 10px; }

.inputs {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px; }

/* CAJAS SECCION PROYECTOS */
.cajaInfo {
  background-color: #0f1108; }

.card_style {
  border: none !important;
  background-color: #fefefe !important;
  margin-bottom: 10px; }
  .card_style h5 {
    text-align: center !important;
    color: tomato !important;
    font-size: 1.5rem !important; }
  .card_style p {
    text-align: center !important; }

.card-body h5 {
  margin-top: 25px; }

.cardCont {
  display: flex;
  gap: 2rem;
  justify-content: center; }

.Skills {
  background-color: tomato;
  width: 100%;
  padding: 1rem 1rem 1rem 1rem; }
  .Skills h3 {
    font-size: 2rem; }

.textTomato {
  color: tomato; }

.sectionA {
  background-color: #e94f37;
  height: 550px; }
  .sectionA h2 {
    margin-top: 10px; }

.sectionB h2 {
  color: tomato;
  margin-top: 2rem; }

.sectionB ul li {
  margin-top: 30px; }

.contenedorCentral {
  margin-right: 200px;
  margin-top: 40px;
  margin-bottom: 35px; }
  .contenedorCentral h1 {
    margin-left: 250px;
    font-weight: 700;
    font-size: 2.5rem; }
  .contenedorCentral p {
    margin-left: 250px; }
  .contenedorCentral h2 {
    margin-left: 250px;
    font-weight: 400;
    font-size: 3.7rem; }

.contenedorTexto {
  margin-top: 40px;
  margin-left: 260px;
  margin-right: 600px; }

.sectionB__contenedorLista {
  margin-left: 660px;
  margin-right: 650px; }
  .sectionB__contenedorLista li i {
    margin-right: 8px !important; }

.contenedorPrincipal {
  margin-top: 12rem;
  margin-bottom: 13rem; }
  .contenedorPrincipal h2 {
    line-height: 1.5;
    font-weight: 375;
    font-size: 3rem;
    color: white !important;
    margin-left: 20rem; }
  .contenedorPrincipal h1 {
    font-weight: 700;
    margin-left: 20rem; }

.proyectos__proyectoInfo {
  margin-left: 200px; }

.proyectos__proyectoFoto img {
  width: 600px;
  margin-bottom: 35px; }

.proyectos__proyectoFoto2 img {
  width: 400px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 50px; }

.proyectos__proyectoFoto3 img {
  width: 250px;
  margin-left: 20px;
  margin-bottom: 20px; }

.proyectos__proyectoFoto3 {
  margin-right: 300px; }

/* BOOTSTRAP CARRUSEL */
.carousel {
  width: 350px;
  height: 450px;
  display: flex;
  justify-content: space-around; }

.carousel-item {
  width: 350px; }

/* MIXINS */
.sectionA__box {
  height: 330px;
  width: 210px; }

/* CONDICIONAL */
h1 {
  color: orangered; }

/* CARDS PROYECTO */
.card {
  margin-top: 5rem;
  margin-bottom: 7rem;
  background-color: #191919;
  border: 1px solid #302e2e;
  height: 450px;
  width: 350px !important;
  align-items: center; }
  .card img {
    width: 300px;
    height: 250px;
    margin-top: 25px; }
  .card h3 {
    color: tomato;
    margin-top: 35px;
    margin-left: 5px; }
  .card p {
    color: #3d3b3b;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 20px; }
  .card a:hover {
    opacity: 1; }
  .card a {
    text-decoration: none;
    color: white;
    opacity: 0.4;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 20px; }
  .card .text-left {
    width: 100%;
    margin-left: 0.8rem; }

.cardContainer {
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  gap: 50px;
  margin-bottom: 100px; }

/* Responsive seccion proyectos GRIDS */
.g1 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "hh1 hh1" "m1 m1" "p1 a1" "f1 f1"; }

.hh1 {
  grid-area: hh1; }

.m1 {
  grid-area: m1; }

.p1 {
  grid-area: p1; }

.a1 {
  grid-template-areas: a1; }

.f1 {
  grid-area: f1; }

@media only screen and (max-width: 768px) {
  .g1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "hh1" "m1" "p1" "a1" "f1"; }
  .proyectos__proyectoInfo {
    margin-left: 1px !important;
    margin-right: 30px !important;
    text-align: center; }
  .proyectos__proyectoFoto img {
    margin-left: 10%; }
  .proyectos__proyectoFoto2 img {
    margin-left: 20%; }
  .proyectos__proyectoFoto3 img {
    width: 220px; }
  .proyectos__proyectoFoto3 {
    margin-left: 1rem; }
  form {
    width: 300px; } }

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .proyectos__proyectoFoto3 img {
    width: 300px;
    margin-left: 45%; } }

@media only screen and (max-width: 480px) {
  .proyectos__proyectoFoto img {
    width: 300px; }
  .proyectos__proyectoFoto2 img {
    width: 300px;
    margin-left: 10% !important; }
  .proyectos__proyectoFoto3 img {
    width: 300px; } }

@media only screen and (max-width: 768px) {
  .cardContainer {
    display: flex;
    flex-direction: column !important; } }

@media only screen and (max-width: 500px) {
  .card {
    width: 90% !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-left: 5% !important;
    margin-right: 5% !important; } }

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .card {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-left: 13rem !important; } }

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem !important; }
  h2 {
    font-size: 2.5rem !important; } }

@media only screen and (max-width: 768px) {
  .contenedorPrincipal {
    margin-top: 14rem;
    margin-left: 1rem;
    width: 70%;
    margin-bottom: 20rem; }
    .contenedorPrincipal h1 {
      font-size: 2rem; }
    .contenedorPrincipal h2 {
      font-size: 2rem !important; }
  h2 {
    font-size: 2.5rem !important;
    color: white; } }

@media only screen and (max-width: 375px) {
  .header {
    width: 100vw;
    text-align: center; }
  .footer {
    width: 100vw; } }

@media only screen and (max-width: 768px) {
  .headerHome {
    width: 100vw; }
  .footerHome {
    width: 100vw; } }

@media only screen and (max-width: 768px) {
  h1 {
    margin-left: 25px !important; }
  h2 {
    margin-left: 25px !important; }
  p {
    margin-left: 25px !important; }
  h6 {
    text-align: center !important; } }

@media only screen and (max-width: 480px) {
  .contenedorTexto {
    width: 20rem !important;
    height: 350px;
    margin-bottom: 10rem; }
  .sectionB__contenedorLista {
    width: 20rem !important;
    margin-bottom: 10rem;
    margin-left: 25px !important; }
  .contenedorPrincipal {
    margin-top: 4rem; }
    .contenedorPrincipal h2 {
      font-size: 1.3rem !important; } }

@media only screen and (max-width: 768px) {
  .cardCont {
    flex-direction: column; }
  .Skills {
    width: 100% important; }
  .cardCont {
    margin-top: 1rem;
    align-items: center; }
  .backgroundHome {
    background-image: url(../img/backgroundHome2.png); } }

@media only screen and (min-width: 480px) {
  .footerHome {
    position: absolute;
    bottom: 0%;
    width: 100%; } }

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .card_style {
    margin-left: 10px !important; }
  .contenedorTexto {
    width: 600px; }
  .sectionB__contenedorLista {
    width: 600px !important;
    margin-left: 80px !important; } }

@media only screen and (min-width: 1000px) and (max-width: 1400px) {
  .contenedorTexto {
    width: 60rem;
    margin-left: 5rem; }
  .footerHome {
    position: relative; }
  .contenedorCentral h1, h2 {
    margin-left: 5rem !important; } }

@media only screen and (min-width: 1300px) and (max-width: 1400px) {
  .sectionB__contenedorLista {
    width: 40rem;
    margin-left: 24rem; } }
