/* IMPORTS Y HOJAS DE ESTILO */

@import "fuentesyestilos";
@import "headerycont";
@import "form";
@import "cards";
@import "responsive";


/* MIXINS */

@mixin margins($margin-left, $margin-right) {
    margin-left: $margin-left;
    margin-right: $margin-right;
}

@mixin sizes($width, $height) {
    height: $height;
    width: $width;
}

.sectionA__box {
    @include sizes(210px, 330px);
}

/* CONDICIONAL */
$color: orangered;

h1 {
    @if ($color == orange) {
        color: blue;
    } @else {
        color: orangered;
    }
}

